<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="AppliedRuleSet" ToolsVersion="10.0">
  <Include Path="basiccorrectnessrules.ruleset" Action="Default" />
  <Include Path="basicdesignguidelinerules.ruleset" Action="Default" />
  <Include Path="extendeddesignguidelinerules.ruleset" Action="Default" />
  <Include Path="minimumrecommendedrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1020" Action="Warning" />
    <Rule Id="CA1021" Action="Warning" />
    <Rule Id="CA1040" Action="Warning" />
    <Rule Id="CA1501" Action="Warning" />
    <Rule Id="CA1505" Action="Warning" />
    <Rule Id="CA1506" Action="Warning" />
    <Rule Id="CA1600" Action="Warning" />
    <Rule Id="CA1601" Action="Warning" />
    <Rule Id="CA1700" Action="Warning" />
    <Rule Id="CA1702" Action="Warning" />
    <Rule Id="CA1704" Action="None" />
    <Rule Id="CA1707" Action="Warning" />
    <Rule Id="CA1709" Action="Warning" />
    <Rule Id="CA1710" Action="Warning" />
    <Rule Id="CA1711" Action="Warning" />
    <Rule Id="CA1712" Action="Warning" />
    <Rule Id="CA1715" Action="Warning" />
    <Rule Id="CA1800" Action="Warning" />
    <Rule Id="CA1802" Action="Warning" />
    <Rule Id="CA1824" Action="Warning" />
    <Rule Id="CA2001" Action="Warning" />
    <Rule Id="CA2003" Action="Warning" />
    <Rule Id="CA2204" Action="None" />
    <Rule Id="CA2233" Action="Warning" />
  </Rules>
</RuleSet>